<node-header-admin [page]="page" [parentPage]="parentPage" [currentPage]="currentpage"></node-header-admin>

<div class="col-sm-6 offset-sm-3 mt-2">

  <div class="row">

    <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-success text-center" role="alert" *ngIf="successMessage">{{successMessage}}</div>

    <div class="col-md-8">

      <form [formGroup]="texteForm">

        <div class="form-group">
          <label for="libelle">Numéro du texte</label>
          <input type="select" enable="false" placeholder="- 1 pour le texte1, ... " id="title" formControlName="numero"
            class="form-control bg-light">
        </div>

        <div class="form-group">
          <label for="libelle">Texte a saisir</label>
          <div class="col-sm-2 offset-sm-1 mt-2">
            <editor formControlName="leTexte" [init]="{
                height: 300,
                width : 800,
                branding: false,
                menubar: true,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                  'undo redo | formatselect | bold italic underligne backcolor forecolor |  \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat '
              }"></editor>
          </div>

          <!-- <div class="form-group">
            <label for="libelle">Menu concerné</label>
            <input type="select" enable="false" placeholder="Dans quel menu sera le texte" id="title"
              formControlName="page_selector" class="form-control bg-light">
          </div> -->

        </div>

        <button type="button" (click)="onSubmit()" class="btn theme-btn--dark1 btn--md m-2"
          [disabled]="texteForm.invalid">Modifier</button>
        <!-- <button type="button" (click)="onSubmitContinue()" class="btn theme-btn--dark1 btn--md m-2"
          [disabled]="categorieForm.invalid">Modifier  et continuer</button> -->
        <!-- <button type="button" (click)="onExit()" class="btn theme-btn--dark1 btn--md m-2">Annuler</button> -->
        <button type="button" routerLink="/admin-categories" routerLinkActive="router-link-active"
          class="btn theme-btn--dark1 btn--md m-2">Annuler</button>
      </form>
    </div>
  </div>