<node-header></node-header>

<!-- <node-carousel></node-carousel> -->

<div class="container">
  <div class="table-responsive ">
    <table class="table table-hover table-striped">
      <thead>
        <tr class="m-0">
          <th class="w-70">{{platType}}</th>
          <th class="w-10">Prix</th>
          <th class="w-10">Image</th>
          <th class="w-10">Allergènes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plat of plats; let index = index" class="m-0">
          <td class="w-95" *ngIf="plat.actif">
            <h5 class="" style="font-style: italic; font-size: 16px; text-decoration: underline;">{{ plat.libelle}}
            </h5>
            <ul>
              <li class="plat-description">{{ plat.description}}</li>
              <li class="plat-description">{{ plat.sous_titre}}</li>
              <li class="plat-description">{{ plat.poids_dimension}}</li>
            </ul>
          </td>
          <td class="w-10" *ngIf="plat.actif">
            {{plat.prix}} €
          </td>
          <td class="m-10" *ngIf="plat.actif" style="cursor: pointer;">
            <div>
              <a [routerLink]="['/show-image', plat.id]">
                <img [src]="urlImage  + plat.nom_image" alt="" style="width: 50px; height: 50px;">
              </a>
            </div>
          </td>
          <td class="m-10">
            <a mat-raised-button style="background-color: lavender; left :20px ;height: auto ;width:250px;"
              class="mat-raised-button mat-accent" (click)="editAllergenes()">
              Allergenes : ({{plat.allergenes}})
            </a>


          </td>
        </tr>
        <!-- <td class="m-10" *ngIf="plat.actif && plat.nom_image" style="cursor: pointer;">
            <div>
              <a [routerLink]="['/show-image',plat.id]">
                <img [src]=" urlImage + apathImage + '/' +   plat.nom_image" style="width: 50px; height: 50px;">
              </a>
            </div>
          </td>
          <div>
            <!-- <a mat-raised-button style="left :10px ;height: auto ;width:auto;" class="mat-raised-button mat-accent"
                (click)="editAllergenes()">
                Allergenes : ({{plat.allergenes}})
              </a> 
  </div>
  </td>
  </tr> -->
      </tbody>
      <div *ngIf="platType == 'Les Pizzas'">
        <div class="text-center pied-1">
          Toute Modification ou rajout d'ingrédients, supplément de 1,00€
        </div>
        <div class="text-center pied-2">
          Toutes nos Pizzas sont fabriquées et préparées par notre Pizzaiolo
        </div>
        <div class="text-center pied-3">
          FROMAGE MOZZARELLA : FIOR DI LATTE , D'ITALIE
        </div>
      </div>
      <div *ngIf="platType == 'Les Viandes'">
        <div class="text-center pied-1">
          Tout changement d'accompagnement, supplément de 1,50€
        </div>
        <div class="text-center pied-2">
          Accompagnées de Frites et Salades
        </div>
      </div>


      <div class="text-center pied-4 ">
        - SERVICE COMPRIS -
      </div>
      <div class="sign-btn text-center">
        <button class="btn theme-btn--dark1 btn--md" [routerLink]="['/accueil']" routerLinkActive="router-link-active">
          Retour à l'accueil</button>
      </div>

    </table>

  </div>