<node-header></node-header>

<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 10%">Libellé</th>
          <th scope="col" style="width: 10%">Prix</th>
          <!-- <th scope="col" style="width: 10%">Catégorie</th> -->
          <th scope="col" style="width: 10%">Contenance</th>
          <th scope="col" style="width: 10%">Editer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boisson of boissons; let index = index">
          <th style="height: auto">
            {{ boisson.libelle }}
          </th>

          <td style="height: auto">
            {{ boisson.prix }}
          </td>

          <!-- <td style="height: auto">
            {{ boisson.id_categorie }}
          </td> -->

          <td style="height: auto">
            {{ boisson.contenance }}
          </td>

          <td>
            <button
              *ngIf="isAdmin"
              class="pro-btn"
              title="Editer"
              [routerLink]="['/edit-boisson', boisson.id]"
            >
              <i class="ion-android-create"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <div class="col-md-6 offset-md-3">
        <div class="sign-btn">
          <button
            class="btn theme-btn--dark1 btn--md"
            [routerLink]="['/add-boisson']"
            routerLinkActive="router-link-active"
          >
            Création
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
