<header>
  <!-- header top start -->
  <div class="header-top theme1 bg-blue py-35">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7 order-last order-md-first">
          <div class="static-info text-center text-md-left">
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <nav class="navbar-top pb-2 pb-md-0 position-relative">
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- header top end -->

  <!-- header-middle satrt -->
  <div class="header-middle pt-20">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-lg-2 order-first">
          <div class="logo text-center text-sm-left mb-30 mb-sm-0">
            <a href="index.html"><img [src]="refApiImages + 'divers/logo.jpg'"></a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-5 col-xl-4">
          <!-- search-form end -->
          <div class="d-flex align-items-center justify-content-center justify-content-sm-end">
            <div class="media static-media mr-50 d-none d-lg-flex">
              <img class="mr-3 align-self-center" src="assets/img/icon/1.png" alt="icon">
              <div class="media-body">
                <div class="phone">
                  <span class="text-muted">nous appeler</span>
                </div>
                <div class="phone">
                  <a href="tel:(+33)493333401" class="text-dark">(+33) 493333401</a>
                </div>
              </div>
            </div>
            <!-- static-media end -->

            <div class="mobile-menu-toggle theme1 d-lg-none">
              <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                <svg viewbox="0 0 800 600">
                  <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                    id="top">
                  </path>
                  <path d="M300,320 L540,320" id="middle"></path>
                  <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                    id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318)">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-6 order-lg-first">
          <div class="search-form pt-30 pt-lg-0">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header-middle end -->


  <!-- header bottom start -->
  <!-- header bottom start -->
  <nav class="header-bottom theme1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-lg-15 offset-lg-1 d-flex flex-wrap align-items-center position-relative"> -->
        <div class="col-lg-15 ">
          <ul class="main-menu d-flex">
            <li routerLinkActive="active"><a routerLink="/Accueil">Accueil</a></li>
            <li routerLinkActive="active"><a routerLink="/laCarte">La Carte</a></li>
            <li routerLinkActive="active"><a routerLink="/lesMenus">Les Menus</a></li>
            <li routerLinkActive="active"><a routerLink="/lesDesserts">Les Desserts</a></li>
            <li routerLinkActive="active"><a routerLink="/lesBoissons">Les Boissons</a></li>
            <li routerLinkActive="active"><a routerLink="/lesSoirres">Les soirées</a></li>
            <li routerLinkActive="active"><a routerLink="/lesPrivees">privatisation</a></li>
            <li routerLinkActive="active"><a routerLink="/click&collect">click & collect</a></li>
            <li routerLinkActive="active"><a routerLink="/nousEcrire">Nous écrire</a></li>
            <li routerLinkActive="active"><a routerLink="/localiser">Localiser</a></li>
            <li routerLinkActive="active"><a routerLink="/administration">Administration</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- header bottom end -->
</header>