<node-header></node-header>

<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 10%;">Date</th>
          <th scope="col" style="width: 10%;">Prix</th>
          <th scope="col" style="width: 10%;">Début à</th>
          <th scope="col" style="width: 10%;">Fin à</th>
          <th scope="col" style="width: 10%;">Diner vers</th>
          <th scope="col" style="width: 10%;">NbPersonnes</th>
          <th scope="col" style="width: 10%;">Editer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evenement of evenements; let index = index">

          <th style="height: auto;">
            {{evenement.date}}
          </th>

          <td style=" height: auto;">
            {{evenement.prix}}
          </td>

          <td style="height: auto;">
            {{evenement.heuredebut}}
          </td>

          <td style=" height: auto;">
            {{evenement.heurefin}}
          </td>

          <td style=" height: auto;">
            {{evenement.dinerdebut}}
          </td>

          <td style=" height: auto;">
            {{evenement.nbpersmax}}
          </td>

          <td>
            <button *ngIf="isAdmin" class="pro-btn" title="Editer" [routerLink]="['/edit-concert',evenement.id]"><i
                class="ion-android-create"></i></button>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <div class="col-md-6 offset-md-3">
        <div class="sign-btn">
          <button class="btn theme-btn--dark1 btn--md" [routerLink]="['/add-concert']"
            routerLinkActive="router-link-active">Création</button>
        </div>
      </div>
    </div>
  </div>
