<br>
  <div>
  <div class="container col-lg-12 bg-light">
      <div class="row">
      <div class="col" >
        <p class="">Copyright &copy;
          jfp . All Rights Reserved
        </p>
      </div>
      <div class="col" >
      </div>
      <div class="col" >
        <a href="https://www.facebook.com/SophocleBrasserie" target="_blank" title="Page FB">
          <mat-icon  color="primary" style=" margin-top: 5px;">
            facebook
          </mat-icon>
        </a>
        <a href="https://www.google.com/maps/dir/43.5838929,7.0390912/43.608892,7.0733929/@43.6190228,6.9682869,11z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" target="_blank" title="Maps">
          <mat-icon  color="primary" style=" margin-top: 5px;">
            my_location
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
