<!-- footer strat -->
<footer class="bg-light theme1 position-relative">
  <!-- footer bottom start -->
  <div class="footer-bottom pt-30 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-30">
          <div class="footer-widget mx-w-100">
            <div class="footer-logo mb-35">
              <a href="index.html">
              </a>
            </div>
            <div class="address-widget mb-30">
              <div class="media">
                <div class="media-body">
                </div>
              </div>
            </div>

            <div class="social-network">
              <ul class="d-flex">
                <li><a href="https://www.facebook.com/SophocleBrasserie" target="_blank"><span
                      class="icon-social-facebook"></span></a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Information</h2>
              </div>
            </div>
            <!-- footer-menu start -->
            <ul class="footer-menu">
            </ul>
            <!-- footer-menu end -->
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Custom Links</h2>
              </div>
            </div>
            <!-- footer-menu start -->
            <!-- footer-menu end -->
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-30">
          <div class="footer-widget">
            <div class="border-bottom cbb1 mb-25">
              <div class="section-title pb-20">
                <h2 class="title text-dark text-uppercase">Newsletter</h2>
              </div>
            </div>
            <div class="nletter-form mb-10">
              <form class="form-inline position-relative" target="_blank" method="post">
              </form>
            </div>
            <div class="store d-flex">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom end -->
  <!-- coppy-right start -->
  <div class="coppy-right pb-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="text-left">
            <p class="mb-3 mb-md-0">Copyright &copy; <a href="https://jfpetroff.fr">jfp</a>. All Rights
              Reserved</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
          <div class="text-left">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- coppy-right end -->
</footer>
<!-- footer end -->