<node-header></node-header>
<section class="row mg-20" style="margin-left: 50px;">
  <div>
    <div>
      <div class="row mg-20" style="margin-left: 100px;">
        <div class=" table-responsive mg-20" style="margin-left: 50px;">
          <table class="table mg-20 ">
            <tbody class="pt-20 pb-20 col-5 ">

              <tr classe="">
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'terrasse/01.jpg'" alt="">
                </td>
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Notre terrasse aérée
                    </a>
                  </div>
                </td>
              </tr>

              <tr classe="">
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Entrées
                    </a>
                  </div>
                </td>
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'entrees/02.jpg'" alt="">
                </td>
              </tr>

              <!-- ***************************************** -->
              <tr classe="">
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'pates/03.jpg'" alt="">
                </td>
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Pâtes
                    </a>
                  </div>
                </td>
              </tr>

              <tr classe="">
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Pizzas
                    </a>
                  </div>
                </td>
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'pizzas/01.jpg'" alt="">
                </td>
              </tr>
              <!-- ***************************************** -->

              <!-- ***************************************** -->
              <tr classe="">
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'plats/01.jpg'" alt="">
                </td>
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Plats
                    </a>
                  </div>
                </td>
              </tr>

              <tr classe="">
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Desserts Maison
                    </a>
                  </div>
                </td>
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'desserts/Millefeuille.jpg'" alt="">
                </td>
              </tr>
              <!-- ***************************************** -->

              <!-- ***************************************** -->
              <tr classe="">
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'concerts/Concert13.jpg'" alt="">
                </td>
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Concerts
                    </a>
                  </div>
                </td>
              </tr>

              <tr classe="">
                <td classe="center"
                  style="width:500px; text-align: center; vertical-align: middle; text-decoration: underline;">
                  <div class="text-dark wrap ">
                    <a href="">
                      Les Soirées privatisées
                    </a>
                  </div>
                </td>
                <td style="width:500px">
                  <img classe="img-home" [src]="refApiImage + 'soirees_privees/01.jpg'" alt="">
                </td>
              </tr>
              <!-- ***************************************** -->

            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</section>