<node-header></node-header>

<div class="container">

  <!-- ligne 1 -->
  <div class="row">
    <div class="col-8 ">
      <img [src]="refApiImage + '/terrasse/01.jpg'" class="box-images">
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        La terrasse
      </div>
    </div>
  </div>

  <!-- ligne 2 -->
  <div class="row">
    <div class="col-4">
      <div class="test-dark texte-home">
        <a [routerLink]="['/laCarte', 2]" routerLinkActive="router-link-active">
          Les Entrées
        </a>
      </div>
    </div>
    <div class="col-8 ">
      <a [routerLink]="['/laCarte', 2]" routerLinkActive="router-link-active">
        <img [src]="refApiImage + 'entrees/02.jpg'" class="box-images">
      </a>
    </div>
  </div>

  <!-- ligne 3 -->
  <div class="row">
    <div class="col-8 ">
      <a [routerLink]="['/laCarte', 4]" routerLinkActive="router-link-active">
        <img [src]="refApiImage + 'pates/03.jpg'" class="box-images">
      </a>
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        <a [routerLink]="['/laCarte', 4]" routerLinkActive="router-link-active">
          Les Pâtes Fraiches
        </a>
      </div>
    </div>
  </div>

  <!-- ligne 4 -->
  <div class="row">
    <div class="col-4">
      <div class="test-dark texte-home">
        <a [routerLink]="['/laCarte', 5]" routerLinkActive="router-link-active">
          Les Pizzas
        </a>
      </div>
    </div>
    <div class="col-8 ">
      <a [routerLink]="['/laCarte', 5]" routerLinkActive="router-link-active">
        <img [src]="refApiImage + 'pizzas/02.jpg'" class="box-images">
      </a>
    </div>
  </div>

  <!-- ligne 5 -->
  <div class="row">
    <div class="col-8 ">
      <img [src]="refApiImage + 'plats/01.jpg'" class="box-images">
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        Plats
      </div>
    </div>
  </div>

  <!-- ligne 6 -->
  <div class="row">
    <div class="col-4">
      <div class="test-dark texte-home">
        <a [routerLink]="['/laCarte', 1]" routerLinkActive="router-link-active">
          Viandes
        </a>
      </div>
    </div>
    <div class="col-8 ">
      <a [routerLink]="['/laCarte', 1]" routerLinkActive="router-link-active">
        <img [src]="refApiImage + 'viandes/Cote_de_Boeuf.jpg'" class="box-images">
      </a>
    </div>
  </div>

  <!-- ligne 7 -->
  <div class="row">
    <div class="col-8 ">
      <a [routerLink]="['/laCarte', 6]" routerLinkActive="router-link-active">
        <img [src]="refApiImage + 'desserts/Millefeuille.jpg'" class="box-images">
      </a>
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        <a [routerLink]="['/laCarte', 6]" routerLinkActive="router-link-active">
          Les Desserts Maison
        </a>
      </div>
    </div>
  </div>

  <!-- ligne 8 -->
  <div class="row">
    <div class="col-4">
      <div class="test-dark texte-home">
        Concerts
      </div>
    </div>
    <div class="col-8 ">
      <img [src]="refApiImage + 'concerts/Concert13.jpg'" class="box-images">
    </div>
  </div>

  <!-- ligne 9 -->
  <div class="row">
    <div class="col-8 ">
      <img [src]="refApiImage + 'soirees_privees/01.jpg'" class="box-images">
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        Soirées privatisées
      </div>
    </div>
  </div>



</div>